{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1 class="mb-5">Nos produits phares</h1>
	<div class="row">
		{% for p in products %}
			{% include "product/public/_product_card.html.twig" %}
		</div>
	{% endfor %}
</div>
<hr class="my-5">
<h2 class="mb-5">Un service irreprochable
</h2>
<div class="row">
	{% include "shared/_assurance.html.twig" with {
			'color':'primary',
			'icone':'fas fa-truck',
			'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor quod nemo, consectetur eius velit."
		} %}
	{% include "shared/_assurance.html.twig" with {
			'color':'success',
			'icone':'fas fa-check',
			'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor quod nemo, consectetur eius velit."
		} %}
	{% include "shared/_assurance.html.twig" with {
			'color':'warning',
			'icone':'fas fa-lock',
			'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor quod nemo, consectetur eius velit."
		} %}
</div>{% endblock %}
